table {
	display: grid;
	grid-template-columns: 25% 25% repeat(6, 1fr);
	max-width: 1030px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 32px;
}

thead {
	display: contents;

	font-size: 13px;
	line-height: 14px;
	text-align: center;
}

thead > tr {
	display: contents;
}

thead > tr > td {
	margin-bottom: 16px;
}

tbody {
	grid-column: 1 / 9;

	background-color: var(--color-white);
	border-radius: 8px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
		0px 3px 1px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
	text-align: center;
	display: grid;
	grid-template-columns: 25% 25% repeat(6, 1fr);
}

tbody > tr {
	grid-column: 1 / 9;

	height: 80px;

	display: grid;
	grid-template-columns: 25% 25% repeat(6, 1fr);
}

tbody > tr:not(:last-child) {
	border-bottom: 1px;
	border-color: var(--color-gray);
	border-style: solid;
}

.pokemonName {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	font-size: 21px;
	line-height: 24px;
	padding-left: 16px;
}

.pokemonImageWrapper {
	border: 1px solid var(--color-blue);
	border-radius: 50%;
	width: 48px;
	height: 48px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemonImageWrapper > img {
	width: 60px;
	height: 57px;
}

.pokemonTypes {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
	overflow: auto;
}

.statistic {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	line-height: 24px;
}

.textLeft {
	text-align: left;
}
