.tag {
	height: 32px;
	padding: 8px 12px;

	border-width: 1px;
	border-style: solid;
	border-radius: 16px;

	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
	user-select: none;
}
