.content {
	max-width: 1290px;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
}

.filterContainer {
	display: flex;
	flex-direction: row;
	gap: 4px;
	overflow: auto;
}

.clearButton {
	composes: baseTag from "./components/Tag.module.css";
	border: none;
	background-color: var(--color-white);
	color: var(--color-neutral);
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	text-decoration: underline;
	white-space: nowrap;
}

.listContainer {
	background-color: var(--color-white);
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
		0px 3px 1px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
}
