.content {
	max-width: 1290px;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.coreInteractions {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.title {
	font-family: Arial;
	font-size: 27px;
	line-height: 31px;
	text-align: center;
}

.filterContainer {
	display: flex;
	flex-direction: row;
	gap: 4px;
	overflow: auto;
}

.clearButton {
	composes: baseTag from "./components/Tag.module.css";
	border: none;
	background-color: var(--color-white);
	color: var(--color-neutral);
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	text-decoration: underline;
	white-space: nowrap;
}
